<div {{ containerInnerAttribute ~ ' ' ~ containerAttribute }} class="alert alert-{{ type ~ ' ' ~ containerClass ~ ' ' ~ containerInnerClass }}">
	<div
		class="{{ messageClass }}"
		style="{{ messageStyle }}"
		role="alert"
	>
		{{ message }}
	</div>
</div>